.Modal {
  width: 750px;
  height: 700px;
  background-color: #c4c6f7;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.add-label {
  font-size: 28px;
  margin: 0 10px 0 10px;
}

.add-input {
  margin-top: 5px;
  padding: 3px;
  width: 653px;
  font-size: 24px;

  border-radius: 5px;
}

.textarea-div {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.add-textarea {
  border-radius: 5px;
  font-size: 24px;
  min-width: 700px;
  max-width: 700px;

  min-height: 540px;
  max-height: 540px;
}

.btns-add-div {
  margin: 20px 0 0 25px;
}

.add-add-btn {
  padding: 5px 20px 5px 20px;
  background-color: limegreen;
  border: limegreen;
  border-radius: 5px;
  font-size: 24px;
  margin-right: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.add-add-btn:hover {
  background-color: transparent;
  border: none;
  color: limegreen;
  transition: all 0.3s ease-in-out;
}

.add-cancel-btn {
  padding: 5px 20px 5px 20px;
  background-color: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
}
