@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,700;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #202020;
  font-family: "DM Sans", sans-serif;
}

.main-container {
  display: flex;
}

.header-introduction {
  font-size: 55px;
  margin: 70px 0 0 50px;
  z-index: 2;
}

.whattodo-logo {
  margin-left: 100px;
}

.card-container {
  width: 900px;
  height: 900px;
  background-color: #c4c6f7;
  margin: 20px 0 0 40px;
  /* margin: 30px auto auto auto; */

  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  overflow: auto;
}

.loading-p {
  font-size: 24px;
  margin: 400px 0 0 400px;
}

.sub-container {
  width: 600px;
  height: 50px;
  background-color: white;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  margin: 20px 0 0 20px;
  padding: 5px;
}

.data-container {
  display: flex;
}

.btns-actions {
  margin-top: 30px;
}

/* .btns-actions button {
  margin-right: 30px;
  border: none;
  background-color: transparent;
  cursor: pointer;
} */

.btn-add {
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin: 10px 0 0 10px;
}

.btn-open {
  margin-right: 120px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.btn-edit {
  margin-right: 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.btn-delete {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}
